@media only screen and (max-width: 767px) {
  .questionnaire__navigation {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    position: fixed;
    margin-left: 0;
    margin-right: 0;
  }
}

.questionnaire__navigation__divider.ui.divider {
  margin: 1.5rem 0;
}
