.questionnaire__results {

}

.questionnaire__results__list.ui.list .list>.item,
.questionnaire__results__list.ui.list>.item, 
.questionnaire__results__list.ui.list li {
  padding-bottom: 0;
  padding-top: 0;
}

.questionnaire__results__list.ui.list .list>.item:not(:last-child),
.questionnaire__results__list.ui.list>.item:not(:last-child),
.questionnaire__results__list.ui.list li:not(:last-child) {
  margin-bottom: 2rem;
}
