.app {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container.app {
    width: auto;
    margin-left: 10rem !important;
    margin-right: 10rem !important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.container {
    width: auto;
    margin-left: 15rem !important;
    margin-right: 15rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .ui.container.app {
    width: 40vw;
  }
}
