<div class="container" rtl>
  <h1>{{ 'anms.order.title' | translate }}</h1>
  <div class="row">
    <div class="col-md-6">
      <button type="button" mat-fab color="primary" class="add" [ngClass]="routeAnimationsElements"
        *ngIf="!isEditing" (click)="addNew(bookForm)">
        <fa-icon icon="plus"></fa-icon>
      </button>
      <mat-card *ngFor="let book of books$ | async" [ngClass]="routeAnimationsElements"
        (click)=select(book)>
        <h3>{{book.title}}</h3>
        <small>{{book.author}}</small>
      </mat-card>
      <p *ngIf="(books$ | async)?.length === 0">{{'anms.order.empty' | translate}}</p>
    </div>
    <div class="col-md-6">
      <span class="d-flex justify-content-between">
        <h2>{{ 'anms.order.subtitle2' | translate }}</h2>
        <span class="d-flex justify-content-end">
          <span *ngIf="selectedBook$ | async as selectedBook">
            <button mat-icon-button color="accent" *ngIf="!isEditing">
              <fa-icon icon="edit" (click)="edit(selectedBook)" [matTooltip]="'anms.order.tooltip.edit' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(selectedBook)">
              <fa-icon icon="trash" [matTooltip]="'anms.order.tooltip.delete' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
            <button mat-icon-button (click)="deselect()">
              <fa-icon icon="times" [matTooltip]="'anms.order.tooltip.deselect' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
          </span>
        </span>
      </span>

      <ng-container *ngIf="!isEditing">
        <div [ngClass]="routeAnimationsElements" *ngIf="selectedBook$ | async as selectedBook; else noSelectedBookTmpl">
          <h3>Order detail</h3>
          <mat-divider></mat-divider>
          <p>{{ selectedBook.id }}</p>
          <p>{{ selectedBook.transaction }}</p>
          <p>{{ selectedBook.paymentid }}</p>
          <p>{{ selectedBook.state }}</p>
          <i>{{ selectedBook.quantity }}</i>
          <i>{{ selectedBook.total }}</i>
        </div>

        <ng-template #noSelectedBookTmpl>
          <p [ngClass]="routeAnimationsElements">
            Choose order to view detail
          </p>
        </ng-template>
      </ng-container>

    </div>
  </div>
</div>
