html, body {
  font-size: 16px;
}

.ui.form .required.field>.checkbox:after,
.ui.form .required.field>label:after,
.ui.form .required.fields.grouped>label:after,
.ui.form .required.fields:not(.grouped)>.field>.checkbox:after,
.ui.form .required.fields:not(.grouped)>.field>label:after {
  font-size: 2.5rem;
  margin: 0.2em 0 -.2em .2em;
}

.ui.form textarea {
  background-color: #f8f8f8;
  border: 2px solid #f6f6f6;
}

.ui.form textarea:focus {
  border-color: #6435c9;
}

.ui.cards a.card,
.ui.link.card,
.ui.link.cards .card,
a.ui.card {
  box-shadow: none;
  border: 2px solid rgba(0,0,0,0.05);
}

.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  box-shadow: none;
  background-color: rgba(0,0,0,0.05);
  border: 2px solid rgba(0,0,0,0.15);
  transform: none;
}

.ui.cards a.card:active,
.ui.link.card:active,
.ui.link.cards .card:active,
a.ui.card:active {
  box-shadow: none;
  background-color: rgba(0,0,0,0.075);
  border: 2px solid rgba(0,0,0,0.25);
  transform: none;
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
  border: 2px solid rgba(0,0,0,0.05);
}

.ui.checkbox .box:hover::before,
.ui.checkbox label:hover::before {
  background-color: rgba(0,0,0,0.05);
  border: 2px solid rgba(0,0,0,0.15);
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.margin-top-0 {
  margin-top: 0 !important;
}
